header {
    background-color: #333448;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    /* or space-around / space-between */
    gap: 20px;
    /* Optional: spacing between items */
}

nav li a {
    display: block;
    color: rgb(183, 176, 196);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Figtree", sans-serif;
}

nav li a:hover {
    background-color: #ddd;
    color: rgb(255, 255, 255);
}

body {
    background-color: #606288;
    color: white;
    font-family: 'Figtree', sans-serif;
}

#face {
    max-width: 50%;
    height: auto;
}

.faculty-glyphic-regular {
    font-family: "Faculty Glyphic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.figtree {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1 {
    color: white;
    font-family: "Faculty Glyphic", sans-serif;
}

footer {
    background-color: #333448;
    text-align: center;
    width: 100%;
    margin: 0;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    /* Optional: horizontal list */
    justify-content: center;
    /* Center the list items */
    gap: 30px;
    /* Spacing between items */
}
footer a {
  color: white;              /* Match footer theme */
  text-decoration: none;     /* Removes underline */
}
footer li {
    font-size: 1rem;
    color: rgb(183, 176, 196);
}
footer a:hover {
  text-decoration: underline;
}